.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);

  .modal-box {
    width: 500px;
    height: 500px;
    background-color: #111214;
    border-radius: 30px;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .modal-box {
    min-width: 100%;
    max-height: 350px;
  }
}
