.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12p rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;

    footer .user-info span {
      color: #29292e;
    }
  }

  .question-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    p {
      font-size: 1.6rem;
    }

    .question-text {
      padding: 0px 10px;
      p {
        color: #29292e;
        word-break: break-all;
        text-align: justify;
      }
    }
    .text-verification {
      display: flex;
      align-items: center;

      p {
        align-items: center;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
      align-items: flex-start;
    }
    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

  .view-answers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
    height: 100%;
    > span {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 9999px;
      padding: 8px 16px;
      color: #1E81AE;
      font-weight: 500;
      font: bolder;
      font-size: 1.4rem;
      transition: all 0.3s;
      &:hover{
          cursor: pointer;
          background: #1C334A;
      }
    }
  }
}

@media (max-width: 360px) {
  .question-content {
    flex-direction: column;
    .question-text {
      margin-bottom: 10px;
    }
    .text-verification {
      p {
        max-width: 80px;
      }
    }
  }
}

@media (max-width: 268px) {
  footer {
    flex-direction: column;
    gap: 10px;
  }
}
